<a class="block rounded-xl border border-gray-100 p-8 shadow-xl">
    <div class="mt-4 text-gray-500 sm:pr-8"> 
        <%= @product.brand.title%>
        <h3 class="mt-4 text-xl font-bold text-gray-900"><%= @product.title%></h3>
        <p class="mt-2 hidden text-sm sm:block">
            <%= @product.description%>
        </p>
        <p class="mt-2 hidden text-sm sm:block">
            <%= @product.color%>
        </p>
    </div>
</a>

<ul class="flex gap-4 mt-8">
    <li>
        <%= link_to "Düzenle", edit_product_path(@product), :class => "inline-flex w-full items-center justify-center rounded-lg bg-blue-500 px-5 py-3 text-white w-24 cursor-pointer"  %>
    </li>
    <li>
        <%= link_to "Sil", product_path(@product), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Silmek istediğinizden emin misiniz?"
                  },:class => "inline-flex w-full items-center justify-center rounded-lg bg-red-500 px-5 py-3 text-white w-24 cursor-pointer"  %>
    </li>
</ul>